.card-img-top {
    width: 100%;
    height: 60vh !important;
    object-fit: cover;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 25%;
    }
    75% {
        opacity: 60%;
    }
    100% {
        opacity: 100%;
    }
}

.fade-slide-top {
    animation: 0.3s ease-out 0s 1 slideInFromTop, 0.3s ease-out 0s 1 fadeIn;
}

.fade-slide-bottom {
    animation: 0.3s ease-out 0s 1 slideInFromBottom, 0.3s ease-out 0s 1 fadeIn;
}

.fade-slide-left {
    animation: 0.3s ease-out 0s 1 slideInFromLeft, 0.3s ease-out 0s 1 fadeIn;
}

.fade-slide-right {
    animation: 0.3s ease-out 0s 1 slideInFromRight, 0.3s ease-out 0s 1 fadeIn;
}